In [1]:
from pandas_datareader import data as pdr
from datetime import date
import yfinance as yf
yf.pdr_override()
import pandas as pd

In [2]:
# Tickers list
# We can add and delete any ticker from the list to get desired ticker live data
ticker_list = ['DJIA', 'DOW', 'LB', 'EXPE', 'PXD', 'MCHP', 'CRM', 'NRG', 'HFC', 'NOW']

In [3]:
today = date.today()

In [4]:
# We can get data by our choice by giving days bracket
start_date = "2017-01-01"
end_date = "2019-11-30"

In [5]:
files = []

def getData(ticker):
    print (ticker)
    data = pdr.get_data_yahoo(ticker, start=start_date, end=today)
    dataname= ticker + '_' + str(today)
    files.append(dataname)
    SaveData(data, dataname)

In [6]:
# Create a data folder in your current dir.
def SaveData(df, filename):
    df.to_csv('./data/' + filename + '.csv')

In [7]:
for tik in ticker_list:
    getData(tik)

DJIA
[*********************100%***********************]  1 of 1 completed
DOW
[*********************100%***********************]  1 of 1 completed
LB
[*********************100%***********************]  1 of 1 completed
EXPE
[*********************100%***********************]  1 of 1 completed
PXD
[*********************100%***********************]  1 of 1 completed
MCHP
[*********************100%***********************]  1 of 1 completed
CRM
[*********************100%***********************]  1 of 1 completed
NRG
[*********************100%***********************]  1 of 1 completed
HFC
[*********************100%***********************]  1 of 1 completed
NOW
[*********************100%***********************]  1 of 1 completed

In [8]:
for i in range(0, len(ticker_list)):
    df1= pd.read_csv('./data/' + str(files[i]) + '.csv')
    print(df1.head())

         Date          Open          High           Low         Close  \
0  2017-01-03  19872.859375  20021.599609  19694.359375  19881.759766
1  2017-01-04  19890.939453  20037.419922  19812.150391  19942.160156
2  2017-01-05  19922.560547  20031.400391  19747.599609  19899.289062
3  2017-01-06  19906.960938  20048.519531  19781.189453  19963.800781
4  2017-01-09  19931.410156  20021.529297  19807.519531  19887.380859

      Adj Close      Volume
0  19881.759766  3770530000
1  19942.160156  3764890000
2  19899.289062  3761820000
3  19963.800781  3339890000
4  19887.380859  3217610000
         Date       Open       High        Low      Close  Adj Close   Volume
0  2019-03-20  52.750000  53.500000  49.500000  49.799999  44.805233  2350800
1  2019-03-21  49.990002  50.000000  48.200001  48.980000  44.067474  1764700
2  2019-03-22  48.799999  49.950001  48.160000  48.599998  43.725586   844700
3  2019-03-25  48.599998  49.400002  48.000000  49.150002  44.220432   440900
4  2019-03-26  49.000000  49.750000  48.180000  48.849998  43.950516   504700
         Date       Open       High        Low      Close  Adj Close   Volume
0  2017-01-03  65.360001  67.000000  65.360001  66.580002  55.092323  2808400
1  2017-01-04  67.000000  68.440002  67.000000  67.339996  55.721191  3226300
2  2017-01-05  64.650002  64.910004  61.000000  62.040001  51.335648  8131500
3  2017-01-06  61.529999  61.799999  61.009998  61.230000  50.665405  4121500
4  2017-01-09  61.130001  61.930000  60.660000  61.299999  50.723335  2538200
         Date        Open        High         Low       Close   Adj Close  \
0  2017-01-03  114.040001  114.139999  111.879997  112.440002  108.642746
1  2017-01-04  112.970001  114.519997  112.699997  113.739998  109.898834
2  2017-01-05  113.739998  114.839996  112.900002  114.690002  110.816765
3  2017-01-06  116.419998  117.879997  116.129997  116.449997  112.517319
4  2017-01-09  117.889999  118.000000  116.139999  117.300003  113.338615

    Volume
0  2244800
1  2892300
2  2167600
3  3362400
4  3212400
         Date        Open        High         Low       Close   Adj Close  \
0  2017-01-03  182.990005  187.770004  181.919998  186.600006  180.902817
1  2017-01-04  186.520004  186.690002  183.940002  184.169998  178.546997
2  2017-01-05  185.199997  186.949997  183.649994  185.699997  180.030289
3  2017-01-06  186.429993  188.429993  184.580002  185.070007  179.419556
4  2017-01-09  183.940002  184.809998  181.059998  182.600006  177.024948

    Volume
0  1744800
1  1405600
2  1236900
3  1140500
4  1219100
         Date       Open       High        Low      Close  Adj Close   Volume
0  2017-01-03  64.510002  64.980003  63.169998  63.849998  59.778111  2553700
1  2017-01-04  64.070000  64.129997  63.450001  63.820000  59.750023  2230300
2  2017-01-05  63.540001  63.830002  62.209999  62.590000  58.598457  2712400
3  2017-01-06  62.750000  63.930000  62.520000  63.680000  59.618946  1368600
4  2017-01-09  63.610001  64.820000  63.610001  64.419998  60.311760  1953700
         Date       Open       High        Low      Close  Adj Close   Volume
0  2017-01-03  69.290001  70.860001  69.000000  70.540001  70.540001  8112200
1  2017-01-04  71.080002  73.070000  70.760002  72.800003  72.800003  9289500
2  2017-01-05  72.809998  73.660004  72.529999  72.790001  72.790001  4695600
3  2017-01-06  72.889999  74.129997  72.550003  73.800003  73.800003  4466100
4  2017-01-09  74.050003  74.440002  73.510002  73.959999  73.959999  3933100
         Date   Open   High    Low  Close  Adj Close   Volume
0  2017-01-03  12.32  12.45  12.19  12.30  11.720424  3228300
1  2017-01-04  12.32  13.07  12.30  13.03  12.416026  8040900
2  2017-01-05  13.01  13.31  12.92  13.28  12.654244  8121200
3  2017-01-06  13.31  13.45  12.96  13.36  12.730476  8693200
4  2017-01-09  13.35  13.51  13.13  13.47  12.835291  8444500
         Date       Open       High        Low      Close  Adj Close   Volume
0  2017-01-03  33.209999  34.299999  32.889999  33.570000  29.149992  3075900
1  2017-01-04  34.130001  34.779999  33.619999  34.299999  29.783878  4063500
2  2017-01-05  34.189999  34.250000  33.290001  33.750000  29.306295  3319800
3  2017-01-06  33.779999  33.900002  31.980000  32.009998  27.795393  3791800
4  2017-01-09  31.709999  31.750000  30.860001  30.950001  26.874960  3569900
         Date       Open       High        Low      Close  Adj Close   Volume
0  2017-01-03  75.309998  76.989998  74.629997  75.660004  75.660004  1101800
1  2017-01-04  76.089996  78.980003  75.889999  78.830002  78.830002  2015300
2  2017-01-05  78.709999  79.669998  78.339996  79.129997  79.129997  1564000
3  2017-01-06  79.239998  82.389999  78.900002  82.099998  82.099998  1686600
4  2017-01-09  81.800003  82.570000  81.300003  82.000000  82.000000  1339200